 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

 header {
     background-color: #F3F4F6;

 }

 .image {
     padding: 3rem;
     background-color: #F3F4F6;
     /* height: 36.5rem; */
 }

 li {
     list-style: none;
     font-size: larger;
 }

 .navbar a {
     color: #2F2E41;
     text-decoration: none;

 }

 .navbar {
     min-height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 24px;

 }

 .nav-menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 60px;
 }

 .nav-branding {
     font-size: 2rem;
     color: #0d0e10e2;

 }

 .nav-link {
     transition: 0.7s ease;
 }

 .nav-link:hover {
     color: rgb(14, 190, 235);
 }

 .responsive {
     display: none;
     cursor: pointer;
 }

 .bar {
     display: block;
     width: 25px;
     height: 3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: rgb(5, 2, 2);

 }



 @media(max-width:778px) {
     .responsive {
         display: block;
     }

     .responsive.active .bar:nth-child(2) {
         opacity: 0;
     }

     .responsive.active .bar:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
     }

     .responsive.active .bar:nth-child(3) {
         transform: translateY(-8px) rotate(-45deg);
     }

     .nav-menu {
         position: fixed;
         left: -130%;
         top: 70px;
         gap: 0;
         flex-direction: column;
         background-color: rgb(255, 255, 255);
         width: 100%;
         border-radius: 10px;
         text-align: center;
         transition: 0.4s;
         box-shadow: 0 10px 27px rgb(0 0 0 / 10%);
         /* opacity: 0.4; */


     }

     .nav-item {
         margin: 16px 0;


     }

     .nav-menu.active {
         left: -2rem;
     }
 }

 body {
     font-family: 'Montserrat', sans-serif;
     margin: 0px;

     background-color: #2F2E41;
 }

 .center-container {
     max-width: 600px;
     margin: auto;

 }

  

  .image .Im-img {
     width: 100%;
     max-width: 500px;
     display: block;
     margin: auto;
     padding-top: 2rem;

 }
 .header{
    text-align: center;
    font-size: xx-large;
    color: white;
    padding: 1rem;
    position: relative;
}
.header:after{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: rgb(90, 163, 197);
    border-radius: 2px;

}
 .detail{
    color: #F3F4F6;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    line-height: 27px;
    padding: 2rem;
    margin: inherit;

}
 /* .tooltip {
    box-shadow: #efe4e4 0px 0px 5px 0px;
    width: 166px;
    border: 0px;
    height: 50px;
    cursor: pointer; */

/* }

 .tooltip .tooltiptext {
    visibility: hidden;

    font-size: 14px;
    color: #F3F4F6;
    text-align: center;

    position the tooltip
    position: relative;
    z-index: 1;
    bottom: 70px;
    margin-left: -15px;
    transition-delay: 0.2s;
}  */

/* .tooltip:hover .tooltiptext {
    visibility: visible;
}  */



 .Im-offBlack{
     color: #2F2E41;
 }


 .image .Im-heading {
     /* display: flex;
     flex-wrap: wrap; */
     text-align: center;
     padding: 1rem;
     margin: 10px;
     color: black;
     height: 58px;
 }
 .Im-head{
    text-align: center;
    padding: 1rem;
    margin: 10px;
    color: black;
    height: 100px;
 }

 .section-education {
     padding: 1rem;
     text-align: center;
     color: #F3F4F6;
 }

 .section-project {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse
 }

 .section-right {
     padding: 2rem;
     max-width: 669px;
     /* height: 230px; */
     width: 100%;
     padding-right: 0rem;

 }

 .section-left-l {

     padding: 2rem;
     margin: auto;
     padding-left: 4rem;


 }

 .section-left {

     width: 736px;
     text-align: left;
     font-size: x-large;
 }
  /* .img-center{
    max-width: 700px;
    width: 100%;
    margin: auto;
  }
  */


 .section-p-btn {
     width: 120px;
     height: 60px;
     font-size: medium;
     box-shadow: #fbf2f2 0px 0px 5px 0px;
 }


 .section-col {
    display: flex;
    flex-wrap: wrap;
    color: #F3F4F6;
    padding: 3rem;
    justify-content: center;
    flex-direction: row-reverse;
 }
 
 .section-text {
     max-width: 550px;
 }

 .head {
     color: rgb(90, 163, 197);
     text-decoration: underline;
     font-size: x-large;
 }
  @media only screen and (max-width: 898px) {
    #collab{
        max-width: 400px;
        width: 100%;
        margin: auto;
    }
    
  }
 @media only screen and (max-width: 770px) {

    .img-center{
        max-width: 400px;
        width: 100%;
     }
     .detail{
        padding: 1rem;
        line-height: 1.5rem;
    }
     
     .image{
        height: 33rem;
     }
     .image .Im-heading {
        max-width: 400px;
        width: 100%;
        margin: auto;
     }

    
     .section-left-l{
        padding: 0;
        padding-left: 0;
     }

     .section-right {
         flex-basis: 100%;
     }



     .heading {
         font-size: 25px;
     }



     .section-right-col {
         flex-basis: 100%;
         margin-top: 70px;
     }

     .container-center {
         width: 100%;
         max-width: 300px;
         margin: auto;
     }

     .section-right {
         max-width: 330px;
         padding: 2rem;
     }
     .Im-img{
        width: 100%;
        max-width: 800px;
        margin: auto;
     }

     .section-left-l {
         max-width: 330px;
     }

     .hr {
         max-width: 300px;
         width: 100%;
         margin: auto;
     }

     #footer-ul {
         max-width: 591px;
     }
   
    
 }
 .inner{
    padding-top: 20px;
 }
@media  screen and (max-width: 990px){
    .container-skills{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }
    
}
@media  screen and (max-width: 650px){
    .container-skills{
        grid-template-columns: repeat(1,1fr);
        padding: 2rem 50px;
    }
    
}

.container-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* grid-gap:1rem; */
    padding:1rem 40px;
    font-size: 1.2rem;


}
.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;

}
.skill-box:hover > .skill-title:after,.skill-box:hover > .skill-title:before{
    width: 35px;
     
}
.skill-box:hover .img{
    transform:translateY(-10px);

}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.skill-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: rgb(90, 163, 197);
    transition: .5s;

}
.skill-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #147ef0b5;
    transition: .5s;

}
.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.img:after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background: rgba(100,100,100,0.5);
    border-radius: 45px 0 0 45px;

}
.skill-title h3{
    color: #fff;
    margin-top: 0.5rem;

}
.skill-icon{
     width: 50px;
      z-index: 2;
}


    

 .section-footer {
     padding: 68px 25px 30px 0;
     text-align: center;

     background-color: #2F2E41;


 }


 .section-footer ul {
     color: rgba(255, 255, 255, 0.734);
     margin: -3.3rem auto -0.5rem auto;

 }

 .section-footer ul>li {
     color: rgba(255, 255, 255, 0.734);
     padding: 10px;
     display: inline-grid
 }

 /* <---project & Blogs---->*/

 .s1 {
     font-size: xx-large;
     color: #F3F4F6;
 }

 .s2 {
     max-width: 85%;
     margin: auto;
     padding: 0 1rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

 }
 #p-para{
    color: #fff;
 }

 .s2 .card {
    
     width: 290px;
     /* height: 413px; */
     background-color: rgba(6, 48, 63, 0.1);
     margin: 1.2rem;
     padding: 1.5rem;
     border-radius: 0.5rem;
     box-shadow: 6px 8px 3px 3px #b6b6b6
 }

 .card button {
     width: 80px;
     height: 40px;

 }